@font-face {
    font-family: "Source Serif Pro";
    font-weight: 400;
    font-style: normal;
    src: url('SourceSerifPro-BASIC-Regular.ttf') format('truetype');
    unicode-range: U+0020-007E, U+00A0-00FF, U+2010, U+2013-2014, U+2018-2019, U+201C-201D, U+2212;
    font-display: block;
}

@font-face {
    font-family: "Source Serif Pro";
    font-weight: 400;
    font-style: italic;
    src: url('SourceSerifPro-BASIC-RegularItalic.ttf') format('truetype');
    unicode-range: U+0020-007E, U+00A0-00FF, U+2010, U+2013-2014, U+2018-2019, U+201C-201D, U+2212;
    font-display: block;
}

@font-face {
    font-family: "Source Serif Pro";
    font-weight: 600;
    font-style: normal;
    src: url('SourceSerifPro-BASIC-Semibold.ttf') format('truetype');
    unicode-range: U+0020-007E, U+00A0-00FF, U+2010, U+2013-2014, U+2018-2019, U+201C-201D, U+2212;
    font-display: block;
}

@font-face {
    font-family: "Source Serif Pro";
    font-weight: 600;
    font-style: italic;
    src: url('SourceSerifPro-BASIC-SemiboldItalic.ttf') format('truetype');
    unicode-range: U+0020-007E, U+00A0-00FF, U+2010, U+2013-2014, U+2018-2019, U+201C-201D, U+2212;
    font-display: block;
}

@font-face {
    font-family: "Source Serif Pro";
    font-weight: 700;
    font-style: normal;
    src: url('SourceSerifPro-BASIC-Bold.ttf') format('truetype');
    unicode-range: U+0020-007E, U+00A0-00FF, U+2010, U+2013-2014, U+2018-2019, U+201C-201D, U+2212;
    font-display: block;
}

@font-face {
    font-family: "Source Serif Pro";
    font-weight: 700;
    font-style: italic;
    src: url('SourceSerifPro-BASIC-BoldItalic.ttf') format('truetype');
    unicode-range: U+0020-007E, U+00A0-00FF, U+2010, U+2013-2014, U+2018-2019, U+201C-201D, U+2212;
    font-display: block;
}

body {
  font-family: "Source Serif Pro", Optima, Segoe UI, Calibri, Arial, sans-serif;
}
code {
	font-family: Monaco, monospace;
	font-size: 85%;
}
