<script src="//yihui.name/js/math-code.js"></script>
<script async src="//cdn.bootcss.com/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>

<script async src="//yihui.name/js/center-img.js"></script>
{{ template "_internal/google_analytics.html" . }}
{{ if .IsPage }}
  {{ template "_internal/disqus.html" . }}
{{ end }}

{{ if .Params.nohl }}
{{ else }}

<script>
var divs = document.querySelectorAll('pre');
var languages = {'r': true, 'python': true, 'html': true, 'bash': true}

for (var i = 0; i < divs.length; i++) {
  var classes = divs[i].className.split(/\s+/);

  for (var j = 0; j < classes.length; j++) {
    if (languages[classes[j]]) {
      divs[i].classList.add("language-" + classes[j]);
    }
  }
}
</script>

<script src="{{ "/js/prism.js" | relURL }}"></script>

<script>
  Prism.languages.r = Prism.languages.extend('r', {
    'keyword': /\b(?:if|else|repeat|while|function|for|in|next|break|NULL|NA|NA_integer_|NA_real_|NA_complex_|NA_character_|library)\b/
  })
</script>

{{ end }}
