<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta name="google-site-verification" content="kiSw2dMVmIJ4PPDykjzswwTNDXKaN-v-osLdj22UlNU" />
    <link rel="preload" href="/css/SourceSerifPro-BASIC-Bold.ttf" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/css/SourceSerifPro-BASIC-BoldItalic.ttf" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/css/SourceSerifPro-BASIC-Regular.ttf" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/css/SourceSerifPro-BASIC-RegularItalic.ttf" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/css/SourceSerifPro-BASIC-Semibold.ttf" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/css/SourceSerifPro-BASIC-SemiboldItalic.ttf" as="font" type="font/woff2" crossorigin>

    <link rel="stylesheet" href="{{ "/css/bootstrap.css" | relURL }}" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/fonts.css" | relURL }}" />

    {{ if .Params.nohl }}
    {{ else }}
    {{ if eq .Section "blog" }}
      {{ partial "head_hljs.html" . }}
    {{ end }}
    {{ end }}

  </head>

  <body>
    <nav>
    <ul class="menu">
      {{ range .Site.Menus.main }}
      <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
    <hr/>
    </nav>
