{{/* Home Page List */}}
{{/* TODO ideas: */}}
{{/*   - feature posts with summaries */}}
{{/*   - list of recent posts */}}
{{/*   - project lists and summaries */}}
{{/*   inspo: two column summaries: https://www.joelonsoftware.com/ */}}


{{ partial "header.html" . }}

{{ .Content }}

{{ range (where .Pages "Section" "=" "projects") }}

	{{ range .Pages }}

		{{ partial "project-card.html" . }}

	{{ end }}
{{ end }}

<ul>
  {{ $pages := .Site.RegularPages }}
  {{ $paginator := .Paginate (where $pages "Section" "=" "blog") }}
  {{ range $paginator.Pages }}
  <li>
    <span class="date">{{ .Date.Format "2006/01/02" }}</span>
    <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
  </li>
  {{ end }}
</ul>
{{ template "_internal/pagination.html" . }}

{{ partial "footer.html" . }}
