{{/* Home Page List */}}


{{ partial "header.html" . }}

{{ .Content }}

{{/* 10 most recent blog posts */}}

<h2>Projects</h2>

<ul>
  {{ range (where .Pages "Section" "=" "projects") }}
    {{ range .Pages }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
      </li>
    {{ end }}
  {{ end }}
</ul>

<h2>Latest Blog Posts</h2>

<ul>
  {{ range first 10 (where .Site.RegularPages "Section" "=" "blog") }}
  <li>
    <span class="date">{{ .Date.Format "2006-01-02" }}</span>
    <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
  </li>
  {{ end }}
</ul>

{{ partial "footer.html" . }}
